/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

body {
  color: #5a5a5a;
  background-color: #eee
  background-size: cover;
  background-attachment:fixed; 
  background-position:center;
  background-repeat: no-repeat;

}

h1 {
  font-weight:lighter; 
  font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; 
  letter-spacing: -.01em; 
  font-size:110px; 
  color:#3a3a3a;
  font-style:normal;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/
  text-align: center;
}

li
{
    list-style-type: none;
}

h2 {
  font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; 
  font-size: 24px; 
  letter-spacing: 1pt; 
  text-align: justify;
  color: #fff;
  position:relative; 
  z-index:7; 
  font-weight: 200;
  line-height: 150%;
  /*text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;*/


}

.nav-bar-img {
  width: auto;
  height: 50px;
}



.hello {
  font-size: 18px; 
  font-weight:lighter; 
  font-family:Loto, sans-serif; 
  color:#3a3a3a; 
  text-align: justify;
  margin-bottom:7%

}

.btn, .btn-md, .btn-primary{
  margin-top: 0%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
}

.container-fluid > h1{
    line-height: 90%;
    font-weight:lighter; 
    font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; 
    letter-spacing: -.01em; 
    font-size:74px; 
    color:#fff; 
    font-style:normal;
  /*  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  */  text-align: center;
}

.container-fluid > p {
    font-size: 24px;
    font-style: italic;
    line-height: 90%;
      font-family:Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif; 

}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}

.pagewrap {
    background-color: rgba(214, 245, 2455, 0.2);
    padding-bottom: 2%;
    padding-top: 2%
}

.pagewrap > p{
  font-family: sans-serif;;
  font-size: 34px;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: 600px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  top: 30%;
  text-align: center
}

.carousel-caption h1{
  font-size: 70px;
  top: 0;
  text-align: center;
}

.carousel-caption p{
  font-size: 28px;
  text-align: center;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 600px;
  background-color: #777;
}

.carousel-inner > .item > img {
  position: relative;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  top: -20%;
  background-size: cover;
}

.carousel-control.right {
  background-image: none;
}

.carousel-control.left {
  background-image: none;
}

.fill {
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 769px) {

.nav-bar-img {
  width: auto;
  height: 31px;
}

  .carousel-inner > .item > img {
    position: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    background-size: 100%;
  }
  /* Navbar positioning foo */
  .navbar-wrapper {
    margin-top: 20px;
  }
  .navbar-wrapper .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  .featurette-heading {
    font-size: 50px;
  }
}

@media (max-width: 995px) {

  .carousel-inner > .item > img {
    position: cover;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    top: 0%;
    background-size: 100%;
  }

  .featurette-heading {
    margin-top: 120px;
  }
}



footer {
  border-top: 1.5px solid gray;
  height: 300px;
  background-color: #eee;
}
